body {
    font-family: Arial, sans-serif;
    background: url('https://s3.ap-southeast-1.amazonaws.com/email.cloudstreamapp.com/background.png') no-repeat center center fixed;
    background-size: cover;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 800px;
    margin: 50px auto;
    padding: 20px;
    border: 1px solid #e0e0e0;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    text-align: center;
}

h2 {
    text-align: center;
}

#emailForm {
    display: flex;
    flex-direction: column;
    gap: 20px;
}


input[type="text"], input[type="email"] {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    padding: 10px 15px;
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #555;
}

#message {
    text-align: center;
    margin-top: 10px;
}
